<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502285142372-iq1fh7d5eml1lm3eo5ov7n3jgi8fp2ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502285142372-iq1fh7d5eml1lm3eo5ov7n3jgi8fp2ma</string>
	<key>API_KEY</key>
	<string>AIzaSyDDe6HRm5FPKkGCAubQqD1y0-VaMIxgIGI</string>
	<key>GCM_SENDER_ID</key>
	<string>502285142372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Goal.Getter</string>
	<key>PROJECT_ID</key>
	<string>goalgetter-4937c</string>
	<key>STORAGE_BUCKET</key>
	<string>goalgetter-4937c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502285142372:ios:7337b7b29cd65702719271</string>
</dict>
</plist>